*{
  color: white;
}
body{

  background: #010e1b;
  background-size: cover;
  margin-top: 50px;

}

h1{
  font-weight: 750;
}
form {
  background-color: #ffffff17;
  border-radius: 30px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 2, 1, 0.1);
  margin: 20px auto;
  max-width: 1000x;
}
img{
  display: block;
  margin: 0 auto; /* Centers the image horizontally */
  max-width: 150px; /* Adjust the size of the image */
  border-radius: 50%; /
}
p{
  text-align: center;
  font-weight: 700;
}
form h3 {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
}

form .form-label {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 1px;
}

form .form-control {
  border: none;
  border-bottom: 2px solid #ccc;
  background-color: transparent; /* Default background is transparent */
  padding: 10px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 10px;
  color: white;
  transition: background-color 0.3s, border-color 0.3s; /
}

form .form-control:focus {
  outline: none;
  color: white;
  border-color: #464646;
  background-color: rgba(255, 255, 255, 0.041); 
}

form .row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 15px;
}

form .col-md-2,
form .col-md-3,
form .col-md-4,
form .col-md-6 {
  flex: 1;
  min-width: 150px;
}

form .btn-primary {
  background-color: #424547;
  border: none;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form .btn-primary:hover {
  background-color: #0056b3;
}

form .text-danger {
  color: #dc3545;
  font-size: 12px;
}

form select {
  border: none;
  border-bottom: 2px solid #ccc;
  background-color: transparent; /* Default background is transparent */
  padding: 8px;
  width: 100%;
  font-size: 14px;
  color: rgb(0, 0, 0);
  transition: background-color 0.3s, border-color 0.3s;
}
form select:focus {
  outline: none;
  border-color: #007bff;
  background-color: rgba(255, 255, 255, 0.041); 
  color: rgb(0, 0, 0);
}


form option{
  color: rgb(0, 0, 0);
  background-color: rgba(51, 51, 51, 0.082);

}




form input[type="submit"] {
  background-color: #919191;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

form input[type="submit"]:hover {
  background-color: #4b4b4b;
}

































/* 
body{
  content: "";
  position: fixed;
  background: #010e1b;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
}
.parent {
  align-items: center;
  text-align: center;
  margin-top: 2%;
}

.p-child {
  display: flex;
  flex-direction: column;
}
img {
  height: 10%;
  width: 10%;
  margin-left: 45%;
}

h1 {
  font-weight: 700;
}
.form {
  margin-top: 50px;
}
.error {
  color: red;
} */
